.header {
    background-color: lumx-color-variant('primary', 'N');
    background-color: #049aff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.small-logo {
    width: 100px;
place-self: left;

}